<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script>
<header>
    <div class="topnav" id="myTopnav">
        <a href="/index.html" class="active">Home</a>
        <a href="/production.html">Production</a>
        <a href="/health.html">Health</a>
        <a href="/survey.html">Survey</a>
        <a href="/contact.html">Contact</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <img src="images/images.jpeg" alt="makgeolli History image small" style="border-radius: 50%;" />
    <h1>Makgeolli Softdrink: မက်ဂေါ်လီ </h1>
    <p> Is there anything else we should know about Makgeolli?</p>
    <a href="www.facebook.com" class="fa fa-facebook"></a>  
    <a href="www.twitter.com" class="fa fa-twitter"></a>  
    <!-- <a href="www.twitter.com" class="fa fa-pinterest"></a>   -->
    <a href="www.twitter.com" class="fa fa-linkedin"></a>  
    <a href="www.twitter.com" class="fa fa-instagram"></a>  
    <a href="www.twitter.com" class="fa fa-youtube"></a>  
    <a href="www.twitter.com" class="fa fa-google"></a>



</header>